{% extends 'layouts/base.html' %}
{% set active_page = "Tables" %}

{% block title %} Tables {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="container-fluid py-4">
    <div class="row">
      <div class="col-12">
        <div class="card mb-4">
          <div class="card-header pb-0">
            <h6 style="display: inline-block;">Database</h6> <button type="submit" name="editTable" class="btn btn-sm edit-bg-gradient-info w-10 mt-0 mb-0" style="float: right;">edit</button>
          </div>
          <div class="card-body px-0 pt-0 pb-2">
            <div class="table-responsive p-0">
              <table class="table align-items-center mb-0">
                <thead>
                  <tr>
                    <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Patterns</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Responses</th>
                  </tr>
                </thead>
                <tbody>
                  {% for record in records %}
                  <tr>
                    <td contenteditable="false">
                      <div class="px-3 py-1">
                        <div class="justify-content-center">
                          <h6 class="mb-0 text-m">{{record['patterns']}}</h6>
                        </div>
                      </div>
                    </td>
                    <td contenteditable="false">
                      <div class="px-3 py-1">
                        <div class="justify-content-center">
                          <h6 class="mb-0 text-m">{{record['responses']}}</h6>
                        </div>
                      </div>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% include "includes/footer.html" %}

  </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}
<script>
  $('.editTable').click(function() {
	var $this = $(this);
	;
	if ($this.html() === 'Edit') {
		$this.html('Save');
		tds.prop('contenteditable', true);
	} else {
		$this.html('Edit');
		tds.prop('contenteditable', false);
	}
});
</script>
{% endblock javascripts %}
